* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('./img/Chan_Bild.webp');
    background-size: cover; 
    color: #a80e0e;
    text-align: center;
    padding: 20px;
    overflow-x: hidden; 
}

header {
    background-color: #e6136baf;
    color: rgb(255, 245, 245);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 100px;
    margin-bottom: 30px;
}

h2 {
    font-size: 100px;
    margin-bottom: 30px;
}

h3{
    font-size: 80px;
}

.mess{
    font-size: 100px;
    color: #ffffff;
    font-weight: bold;
}
.intro {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chan-photo {
    width: 1000px; 
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(223, 24, 24, 0.2);
    transition: transform 0.3s;
}

.chan-photo:hover {
    transform: scale(1.2); 
}

button {
    padding: 15px 30px;
    font-size: 100px;
    border: none;
    background-color: #ff4757;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #ff6b6b;
}

.facts {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
    display: inline-block;
}

ul {
    list-style-type: none;
    font-size: 50px; 
}

li {
    margin: 15px 0;
}

video {
    margin-top: 30px;
    border-radius: 15px;
    width: 20%; 
}

footer {
    margin-top: 50px;
    font-size: 100px;
    color: #666;
}

